<a href="https://colab.research.google.com/github/ganeshkarode2002/Mobile-price-classification/blob/main/Mobile_price_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
mobile = pd.read_csv("https://www.dropbox.com/s/iy0w25eunwx2qlq/MobilePriceClassification.csv?dl=1")

In [ ]:
mobile.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [ ]:
mobile.tail()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [ ]:
mobile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [ ]:
mobile.describe

<bound method NDFrame.describe of       battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]>

In [ ]:
mobile.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [ ]:
y = mobile['price_range']

In [ ]:
X = mobile[['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train ,X_test,y_train,y_test =  train_test_split(X,y, train_size=0.7, random_state=2529)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((1400, 20), (600, 20), (1400,), (600,))

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=200)

In [ ]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=200)

In [ ]:
y_predl = model.predict(X_test)
print(y_predl)

[3 3 2 1 2 1 1 3 2 2 3 1 3 1 3 3 3 2 2 1 3 2 0 1 2 0 3 0 1 1 2 2 3 0 2 0 0
 0 0 1 2 2 3 0 2 3 1 1 3 0 2 3 1 0 2 1 0 3 1 1 3 3 3 3 3 2 3 0 1 2 2 3 1 0
 0 1 3 3 3 3 1 1 3 1 3 2 3 0 0 3 2 1 0 2 2 0 3 0 3 2 3 3 2 2 3 0 1 2 3 3 0
 2 3 0 2 3 1 2 3 3 3 3 3 3 1 3 2 1 0 1 3 1 0 2 2 1 3 1 3 3 0 0 1 1 2 3 1 2
 3 1 1 2 3 0 3 0 2 3 3 0 0 3 0 3 3 1 0 1 3 3 1 1 2 2 2 2 2 3 3 0 2 0 1 2 0
 1 0 1 2 2 0 3 0 1 3 0 3 1 3 0 1 3 3 0 2 2 3 1 1 2 2 3 1 3 0 3 3 2 2 3 3 3
 2 0 0 2 0 2 3 2 0 1 1 2 3 3 2 3 1 1 3 1 1 1 1 1 3 1 0 0 0 2 1 0 0 2 2 0 0
 1 3 3 0 1 3 0 2 0 3 2 3 0 2 1 2 3 3 2 1 0 1 1 3 2 3 3 0 1 0 1 2 2 0 1 2 3
 1 3 3 3 1 2 0 0 0 0 3 1 1 3 3 1 0 2 1 2 1 3 0 2 0 0 3 2 0 3 0 3 3 2 0 1 3
 1 2 1 1 1 2 3 2 1 1 3 3 3 3 1 1 0 1 1 3 2 1 1 2 2 1 2 2 0 1 1 0 2 0 1 3 0
 0 3 2 0 2 0 1 3 1 0 3 1 2 2 2 0 0 2 3 2 0 1 2 2 0 0 0 1 3 3 1 0 3 3 2 1 3
 3 0 2 2 2 0 0 3 3 3 2 3 3 1 2 1 0 0 1 1 2 1 1 2 3 0 3 0 1 0 2 3 0 3 3 3 2
 2 3 1 0 1 2 3 1 3 3 2 0 1 0 0 0 1 2 2 0 3 1 2 3 1 0 3 0 1 0 2 3 0 1 2 1 3
 0 3 1 0 1 1 0 1 1 1 2 3 3 1 1 3 0 3 1 2 1 3 2 1 2 1 1 0 1 3 2 0 0 1 1 1 0
 3 3 3 0 3 1 3 0 1 3 1 2 1 1 3 3 3 1 3 0 0 3 1 0 0 1 1 2 3 1 3 3 1 1 1 1 2
 3 1 1 0 0 3 1 1 2 3 1 1 1 3 0 0 1 1 1 2 1 2 1 1 1 1 3 3 3 1 3 3 2 0 2 3 0
 3 1 1 3 3 0 2 1]

In [ ]:
from sklearn.metrics import accuracy_score , confusion_matrix,classification_report

In [ ]:
accuracy_score(y_test,y_predl)

0.6266666666666667

In [ ]:
confusion_matrix(y_test,y_predl)

array([[100,  31,   2,   0],
       [ 29,  88,  35,   3],
       [  0,  47,  66,  53],
       [  0,   1,  23, 122]])

In [ ]:
classification_report(y_test,y_predl)

'              precision    recall  f1-score   support\n\n           0       0.78      0.75      0.76       133\n           1       0.53      0.57      0.55       155\n           2       0.52      0.40      0.45       166\n           3       0.69      0.84      0.75       146\n\n    accuracy                           0.63       600\n   macro avg       0.63      0.64      0.63       600\nweighted avg       0.62      0.63      0.62       600\n'

In [ ]:
from sklearn.svm import SVC
model1= SVC()

In [ ]:
model1.fit(X_train,y_train)

SVC()

In [ ]:
y_preds = model1.predict(X_test)
print(y_preds)

[3 2 1 1 1 0 0 3 2 1 2 0 3 2 3 3 2 2 3 0 3 2 0 1 3 0 2 0 2 0 3 2 3 0 2 0 0
 0 1 0 3 2 3 0 2 1 1 2 2 0 3 3 1 1 2 1 0 2 2 0 2 3 3 3 3 1 2 0 1 2 3 3 1 0
 0 2 3 3 2 3 0 0 3 0 2 3 2 0 0 3 2 1 0 3 3 0 2 0 3 2 2 3 3 1 3 1 1 2 3 2 0
 1 3 0 3 3 1 1 3 3 2 3 2 2 1 2 1 2 0 1 3 1 0 2 2 1 3 1 3 2 0 0 3 2 1 3 2 2
 3 1 2 2 3 1 2 0 1 3 3 0 0 2 1 3 3 1 0 0 2 3 1 1 1 0 2 1 1 2 2 1 3 0 0 1 0
 1 0 0 3 2 0 3 0 1 3 0 3 1 3 0 2 3 2 0 2 1 3 1 2 2 1 2 1 3 0 3 3 3 1 2 2 2
 1 0 0 2 1 3 3 1 1 1 2 2 2 1 2 3 0 0 2 1 1 1 2 0 3 0 0 0 0 2 2 0 0 2 2 1 0
 1 3 3 0 1 3 0 2 1 3 1 2 0 1 3 1 3 3 2 1 0 0 1 3 3 3 1 0 1 0 1 1 1 0 2 1 3
 2 2 2 3 1 3 0 1 0 1 3 2 2 3 3 2 0 3 0 2 2 3 0 2 0 0 2 1 0 2 0 3 3 3 1 0 3
 1 2 1 2 1 3 2 1 0 2 3 3 1 3 0 1 0 1 1 3 2 1 1 2 2 1 2 1 0 2 1 0 3 0 1 3 0
 0 3 2 1 2 0 0 2 1 1 2 2 3 1 2 0 1 2 3 2 0 1 2 1 0 0 0 0 3 3 2 1 2 2 2 1 3
 3 1 3 2 2 0 1 2 3 3 2 3 2 2 2 2 0 0 1 0 2 1 1 2 3 0 3 0 0 0 2 3 0 3 3 2 2
 1 2 1 0 1 2 2 0 3 2 2 0 1 0 0 0 2 1 2 0 3 1 2 3 1 0 3 0 2 0 2 3 0 1 3 1 3
 0 2 1 1 1 1 0 1 1 1 2 3 2 1 1 3 1 3 1 1 1 2 1 1 3 1 2 1 1 3 1 0 0 1 1 2 0
 3 3 3 0 3 1 3 0 2 3 2 2 1 1 2 2 3 1 3 0 1 3 2 0 0 2 1 1 3 0 2 3 1 1 1 2 2
 3 1 2 0 1 3 0 1 2 2 2 0 1 3 1 1 2 1 0 2 1 2 1 1 1 1 3 2 3 2 3 2 2 0 2 3 1
 3 0 2 3 3 1 2 2]

In [ ]:
accuracy_score(y_test,y_preds)

0.9483333333333334

In [ ]:
confusion_matrix(y_test,y_preds)

array([[129,   4,   0,   0],
       [  5, 148,   2,   0],
       [  0,   7, 153,   6],
       [  0,   0,   7, 139]])

In [ ]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.96      0.97      0.97       133
           1       0.93      0.95      0.94       155
           2       0.94      0.92      0.93       166
           3       0.96      0.95      0.96       146

    accuracy                           0.95       600
   macro avg       0.95      0.95      0.95       600
weighted avg       0.95      0.95      0.95       600

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()

In [ ]:
model2.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
y_predr = model2.predict(X_test)
print(y_predr)

[3 2 1 1 1 0 0 3 2 1 2 0 3 2 3 3 2 2 2 0 3 2 0 1 3 0 2 0 2 0 3 2 3 0 3 0 0
 0 1 0 3 2 3 0 2 2 1 2 2 0 3 3 1 1 2 1 0 3 2 0 2 3 3 3 2 2 2 0 1 2 3 3 1 0
 0 2 3 3 2 3 0 0 3 1 2 3 3 0 0 3 2 1 0 2 3 0 2 0 3 1 3 3 3 1 3 1 1 2 3 2 0
 1 3 0 2 3 0 1 3 3 2 3 2 2 1 2 1 1 0 1 3 1 0 2 2 1 3 1 3 2 0 0 3 3 1 3 2 2
 3 1 2 2 3 1 3 0 1 3 3 0 0 2 1 3 2 2 0 0 2 3 1 0 2 0 3 2 1 2 2 1 3 0 0 1 0
 1 0 1 3 2 0 3 0 1 2 0 3 1 3 0 2 3 2 0 2 1 3 1 2 2 1 2 1 3 0 3 3 3 1 2 2 2
 1 0 0 2 1 2 2 2 1 1 2 2 2 1 2 2 0 0 2 1 1 1 2 1 3 0 0 1 0 2 2 0 0 2 2 1 0
 0 2 3 0 1 3 0 2 0 3 1 2 1 1 3 1 3 3 2 1 0 0 1 3 3 3 1 0 1 0 1 1 1 0 2 1 3
 2 2 3 2 1 3 1 1 0 0 3 1 1 3 3 2 0 3 0 2 2 3 0 2 0 0 1 1 0 3 0 3 3 3 1 0 3
 1 2 1 1 1 3 2 2 0 2 3 3 2 3 0 1 0 2 1 3 2 1 1 2 1 1 2 1 0 2 1 0 3 0 1 3 0
 0 3 2 1 2 1 0 2 1 1 2 1 3 1 2 0 0 2 3 2 0 0 3 1 0 0 0 0 3 3 1 0 2 2 2 1 3
 3 1 3 2 2 0 1 2 3 3 2 3 2 2 2 2 0 0 1 0 2 1 1 2 3 0 3 0 0 0 2 3 0 3 3 2 2
 1 2 1 0 1 2 2 1 3 2 2 0 1 0 0 0 2 1 2 0 3 1 2 3 1 0 3 0 2 0 2 3 0 1 3 1 3
 0 2 1 1 1 1 0 1 1 1 2 3 2 1 1 3 1 3 1 1 1 2 1 1 3 1 1 1 1 3 2 0 0 1 1 2 0
 3 3 3 0 3 1 3 0 1 3 1 2 1 1 2 2 3 1 3 0 1 3 2 0 0 2 1 1 3 1 2 3 1 1 2 2 3
 3 1 2 0 1 3 0 1 2 3 2 0 1 3 1 1 2 1 0 2 1 2 1 1 1 1 3 2 3 1 3 1 1 0 2 3 0
 3 0 2 3 3 1 2 2]

In [ ]:
accuracy_score(y_test,y_predr)

0.86

In [ ]:
confusion_matrix(y_test,y_predr)

array([[122,  11,   0,   0],
       [ 12, 130,  13,   0],
       [  0,  22, 131,  13],
       [  0,   0,  13, 133]])

In [ ]:
print(classification_report(y_test,y_predr))

              precision    recall  f1-score   support

           0       0.91      0.92      0.91       133
           1       0.80      0.84      0.82       155
           2       0.83      0.79      0.81       166
           3       0.91      0.91      0.91       146

    accuracy                           0.86       600
   macro avg       0.86      0.86      0.86       600
weighted avg       0.86      0.86      0.86       600